<h1>Create a user</h1>

<% if flash[:user_error] %>
<% flash[:user_error].each do |error| %>
<p> <%= error %></p>
<% end %>
<% end %>

<h2>
    <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br>
    <%= f.label :email %>
    <%= f.text_field :email %> <br>
    
    <%= f.submit %></h2>
    <% end %>