
<% if flash[:error] %>
  <h1 style="color: red;"><%= flash[:error] %></h1>
<% end %>
<h1><%= @user.name %></h1>
<h1>Welcome <%= @user.name %>!<br></h1>
<h2><i> Here are some informations about you: </i></h2>

<h3>
Name: <%= @user.name %><br>
Age: <%= @user.age %><br>
Gender: <%= @user.gender %><br>
Weight: <%= @user.weight %><br>
Height: <%= @user.height.round(2) %> </h3>


<p> You need: <%= @user.calculator.round(0) %> calories per day.</p>



<p>Would you like to <%= link_to "EDIT", edit_user_path %> your profile?</p>

<%= link_to "CREATE MY MEAL", new_result_path %> 



<%= button_to "Delete", { action: "destroy", id: @user.id },
                                method: :delete, data: { confirm: "Are you sure?" } %>